/* Provides a border with padding and margin of 
0 to the entire page. */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Determines the font color of the links in the header. */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Font size for the paragraphs that the links in the header link to. */
p {
    font-size: 16px;
}

/* Provides the background color of the website. */
body {
    background-color: #d9dcd6;
}

/* Provides the padding, font, and colors for the header. */
.header{
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Provides the color and font size for the Horiseon 
    portion of the header. */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Provides the color for the 'seo' 
    portion of the header. */
.header h1 .seo {
    color: #fd5d00;
}

/* Provides the padding, font, and font size, for the links in the header. */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
}

/* Provides the orientation of, and margins between,
    the links in the header.*/
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Provides the photo, photo dimensions, and background information
    for the hero photo at the top of the page. */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Provides the core content of the page with dimensions */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Provides the margins, padding, font, font color, font size, and 
    background color for the SEO information in the main content 
    area of the website */
.image-size { 
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Provides height dimensions for the SEO image in the core content section
    of the website */
.image-size img {
    max-height: 200px;
}

/* Provides the left orientation for the SEO image and Social Media Marketing (SMM) image
in the SEO and SMM paragraphs respectively.*/
.float-left {
    float: left;
    margin-right: 25px;
}

/* Provides the right orientation for the Online Reputation (OR) image in 
    the OR paragraph */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Provides the bottom margin and font size for the SEO title in the
    core content section of the website */
.image-size h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Provides the benefits bar on the right side of the page with padding,
    box dimenstions, font, and coloring. */
    .benefits {
        margin-right: 20px;
        padding: 20px;
        clear: both;
        float: right;
        width: 20%;
        height: 100%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #2589bd;
    }
    
    /* Font color and margin between the next benefit below lead generation */
    .benefit-font {
        margin-bottom: 32px;
        color: #ffffff;
    }
    
    /* Margin and text alignment for the lead generation header in the
        benefits bar. */
    .benefit-font h3 {
        margin-bottom: 10px;
        text-align: center;
    }
    
    /* Provides dimensions for the lead generation image in the benefits bar */
    .benefit-font img {
        display: block;
        margin: 10px auto;
        max-width: 150px;
    }
    
/*  Creates the footer of the webiste and dictates the font, font size, 
    background color, and padding */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Provides the font size for the title in the footer */
.footer h2 {
    font-size: 20px;
}
